/*Stylesheet*/
body {
background-color: #e5e5e5;
}

h1 {
    color: #000000;
    text-align: center;
}

p {
    color: #14213D;
    line-height: 1.6;
}

footer {
    text-align: center;
    color: #888;
    font-size: 14px;
    padding: 15px;
    margin-top: 40px;
}

.card {
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(20, 33, 61, 0.15);
    text-align: center;
}
.itemList {
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px;
.ilcard {
    background-color: white;
    width: 200px;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(20, 33, 61, 0.15);
    transition: 0.5s;
}    
.ilcard:hover {
    transform: scale(1.2);
    background-color: #fca311;
    transition: 0.5s;
}
}
.links {
    text-decoration: none;
    color: white;
    background-color: #00000094;
    border-radius: 5px;
    padding: 4px;
    margin-left: 2px;
    cursor: pointer;
}

.navbar {
    background-color: #14213D;
    padding: 8px;
    margin: -8px;
}

.welcometext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22pt;
}

.hrline {
    height: 3px;
    background-color: #fca311;
    border: 5px;
    border-radius: 5px;
    margin: 7px -10px;
}
